*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #289BD8;
  font-size: 18px;
  font-family: 'Kaushan Script', cursive;
}
.title{
  font-size: 5rem;
  font-weight: bold;
}
.title-style{
  background-color: rgb(204, 71, 98);
  padding: 0 1rem;
  margin: 0 1rem;
  border: none;
  outline: none;
}
.form-display{
  width: 1000px;
  height: 400px;
  font-size:  2rem;
  background-color: white;
  padding: 4rem 3rem 0 3rem ;
  border-radius: 12px;
}